.header {
    background: #8057d6;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/*Break points*/

@media screen and (max-width:900px){



}

